@font-face {
    font-family: "LatoBold";
    src: url("../fonts/LatoBold/LatoBold.woff2") format("woff2"),
    url("../fonts/LatoBold/LatoBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoRegular/LatoRegular.woff2") format("woff2"),
    url("../fonts/LatoRegular/LatoRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'LatoBlack';
    src: url("../fonts/LatoBlack/LatoBlack.woff2") format("woff2"),
    url("../fonts/LatoBlack/LatoBlack.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'LatoMedium';
    src: url("../fonts/LatoMedium/LatoMedium.woff2") format("woff2"),
    url("../fonts/LatoMedium/LatoMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTMonoRegular';
    src: url("../fonts/PTMono/PTMono.woff2") format("woff2"),
    url("../fonts/PTMono/PTMono.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTMonoBold';
    src: url("../fonts/PTMono/PTMono.woff2") format("woff2"),
    url("../fonts/PTMono/PTMono.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
