/* @var colors */
$white: #fff;
$black: #000;
$blue: #00acc1;
$darkBlue: #149db4;
$lightBlue: #f8fcfd;
$dark: #2c3549;
$paleGreyTwo: #f5f6f9;
$blueGrey: #868ea2;
$blueyGrey: #90a4ae;
$coolGrey: #b0bec5;
$paleBlue: #f3f6fe;


/* added */
$snippetBG: #f3f5f8;
$tableSecondary: #78909c;
$transparentBlue: rgba(242, 245, 254, 0.3);

/* @var fonts */
$LatoBold: 'LatoBold';
$LatoRegular: 'LatoRegular';
$LatoMedium: 'LatoMedium';
$RobotoBold: 'LatoBlack';

/*  pt font for snippets  */
$PTRegular: 'PTMonoRegular';
$PTBold: 'PTMonoBold';

/* @size elements */
$widthMenu: 419px;
