mixin headerModile()
    div.b-header-mobile.b-header-mobile--indentation
        .b-header-mobile__left
            img.b-burger.js__burger(src="svg/menu.svg")
        .b-header-mobile__right
            a.menu__logo(href="/")
                img.menu__logo-image--small(src="svg/paymo.svg")
