.b-text__support {
  color: #26bbd1;
  text-decoration: underline;
}

.b-text__tel {
  color: $dark;
  font-family: $LatoBold;
  text-decoration: none;
}

.b-footer--indentation {
  padding-bottom: 47px;
}